[submodule "PixivFE"]
	path = PixivFE
	url = https://codeberg.org/PixivFE/PixivFE.git
[submodule "pixivpy"]
	path = pixivpy
	url = https://github.com/upbit/pixivpy.git
[submodule "pixez-flutter"]
	path = pixez-flutter
	url = https://github.com/Notsfsssf/pixez-flutter.git
